{% extends "master.html" %}

{% block title %}
    404 | Snake Online
{% endblock %}

{% block hslink %}
    /highscores
{% endblock hslink %}

{% block homelink %}
    /
{% endblock homelink %}

{% block aboutlink %}
    /about
{% endblock aboutlink %}

{% block htplink %}
    /how-to-play
{% endblock htplink %}

{% block content %}
    <h1 style="text-align:center;color:white;">Ouch! Our snake hit our head on the wall!</h1>
    <h3 style="text-align:center;color:white;">We looked all over for that page, but we accidentally hit our head!</h3>

{% endblock %}