body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  font-family: Helvetica;
}

ul.ulnavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
}

ul.ulnavbar li.linavbar a.anavbar {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul.ulnavbar li.linavbar a.anavbar:hover {
  background-color: #404040;
}